@charset "UTF-8";
/* myStyle.css */
body {
 background-color: #eaeaea
}
h1 {
  font-size: 150px;
  text-align: center;
  font-family: Arial;
  color: #555
}
p {
  font-size: 15px;
  text-align: left;
  font-family: Arial;
  margin-left: 500px;
}
p2 {
  
}
